USE [master]
GO
/****** Object:  Database [Paqueteria]    Script Date: 07/12/2025 06:42:39 p. m. ******/
CREATE DATABASE [Paqueteria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Paqueteria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Paqueteria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Paqueteria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Paqueteria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Paqueteria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Paqueteria]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 07/12/2025 06:42:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[telefono] [bigint] NULL,
	[direccion] [nchar](50) NULL,
	[firma] [nchar](20) NULL,
	[nombre] [nchar](30) NULL,
	[apellido] [nchar](30) NULL,
	[id_sucursal] [int] NOT NULL,
 CONSTRAINT [PK_cliente] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paquete]    Script Date: 07/12/2025 06:42:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paquete](
	[id_paquete] [int] IDENTITY(1,1) NOT NULL,
	[fecha_entrada] [date] NULL,
	[fecha_salida] [date] NULL,
	[tipo_paquete] [nchar](15) NULL,
	[codigo_barras] [bigint] NULL,
	[id_sucursal] [int] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_proveedor] [int] NOT NULL,
 CONSTRAINT [PK_paquete] PRIMARY KEY CLUSTERED 
(
	[id_paquete] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedor]    Script Date: 07/12/2025 06:42:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedor](
	[id_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nchar](30) NULL,
	[telefono] [bigint] NULL,
 CONSTRAINT [PK_proveedor] PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[servicio]    Script Date: 07/12/2025 06:42:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[servicio](
	[id_servicio] [int] IDENTITY(1,1) NOT NULL,
	[descripción] [text] NULL,
	[costo] [int] NULL,
	[id_paquete] [int] NOT NULL,
 CONSTRAINT [PK_servicio] PRIMARY KEY CLUSTERED 
(
	[id_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[servicio_paquete]    Script Date: 07/12/2025 06:42:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[servicio_paquete](
	[id_servpaq] [int] IDENTITY(1,1) NOT NULL,
	[id_paquete] [int] NOT NULL,
	[id_servicio] [int] NOT NULL,
 CONSTRAINT [PK_servicio_paquete] PRIMARY KEY CLUSTERED 
(
	[id_servpaq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sucursal]    Script Date: 07/12/2025 06:42:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sucursal](
	[id_sucursal] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nchar](30) NULL,
	[direccion] [nchar](50) NULL,
	[telefono] [bigint] NULL,
 CONSTRAINT [PK_sucursal] PRIMARY KEY CLUSTERED 
(
	[id_sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sucursal_cliente]    Script Date: 07/12/2025 06:42:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sucursal_cliente](
	[id_sucucli] [int] IDENTITY(1,1) NOT NULL,
	[id_sucursal] [int] NOT NULL,
	[id_cliente] [int] NOT NULL,
 CONSTRAINT [PK_sucursal_cliente] PRIMARY KEY CLUSTERED 
(
	[id_sucucli] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trabajadores]    Script Date: 07/12/2025 06:42:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trabajadores](
	[id_personal] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nchar](30) NULL,
	[puesto] [nchar](20) NULL,
	[turno] [int] NULL,
	[apellido] [nchar](30) NULL,
 CONSTRAINT [PK_trabajadores] PRIMARY KEY CLUSTERED 
(
	[id_personal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transacciones]    Script Date: 07/12/2025 06:42:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transacciones](
	[id_transaccion] [int] IDENTITY(1,1) NOT NULL,
	[fecha_pago] [date] NULL,
	[total] [int] NULL,
	[metodo_pago] [nchar](30) NULL,
	[id_paquete] [int] NULL,
 CONSTRAINT [PK_transacciones] PRIMARY KEY CLUSTERED 
(
	[id_transaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[turno]    Script Date: 07/12/2025 06:42:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[turno](
	[id_turno] [int] IDENTITY(1,1) NOT NULL,
	[hora_inicio] [time](7) NULL,
	[hora_fin] [time](7) NULL,
	[dia] [nchar](20) NULL,
 CONSTRAINT [PK_turno] PRIMARY KEY CLUSTERED 
(
	[id_turno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cliente]  WITH CHECK ADD  CONSTRAINT [FK_cliente_sucursal] FOREIGN KEY([id_sucursal])
REFERENCES [dbo].[sucursal] ([id_sucursal])
GO
ALTER TABLE [dbo].[cliente] CHECK CONSTRAINT [FK_cliente_sucursal]
GO
ALTER TABLE [dbo].[paquete]  WITH CHECK ADD  CONSTRAINT [FK_paquete_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[paquete] CHECK CONSTRAINT [FK_paquete_cliente]
GO
ALTER TABLE [dbo].[paquete]  WITH CHECK ADD  CONSTRAINT [FK_paquete_proveedor] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[proveedor] ([id_proveedor])
GO
ALTER TABLE [dbo].[paquete] CHECK CONSTRAINT [FK_paquete_proveedor]
GO
ALTER TABLE [dbo].[paquete]  WITH CHECK ADD  CONSTRAINT [FK_paquete_sucursal] FOREIGN KEY([id_sucursal])
REFERENCES [dbo].[sucursal] ([id_sucursal])
GO
ALTER TABLE [dbo].[paquete] CHECK CONSTRAINT [FK_paquete_sucursal]
GO
ALTER TABLE [dbo].[servicio]  WITH CHECK ADD  CONSTRAINT [FK_servicio_paquete] FOREIGN KEY([id_paquete])
REFERENCES [dbo].[paquete] ([id_paquete])
GO
ALTER TABLE [dbo].[servicio] CHECK CONSTRAINT [FK_servicio_paquete]
GO
ALTER TABLE [dbo].[servicio_paquete]  WITH CHECK ADD  CONSTRAINT [FK_servicio_paquete_paquete] FOREIGN KEY([id_paquete])
REFERENCES [dbo].[paquete] ([id_paquete])
GO
ALTER TABLE [dbo].[servicio_paquete] CHECK CONSTRAINT [FK_servicio_paquete_paquete]
GO
ALTER TABLE [dbo].[servicio_paquete]  WITH CHECK ADD  CONSTRAINT [FK_servicio_paquete_servicio] FOREIGN KEY([id_servicio])
REFERENCES [dbo].[servicio] ([id_servicio])
GO
ALTER TABLE [dbo].[servicio_paquete] CHECK CONSTRAINT [FK_servicio_paquete_servicio]
GO
ALTER TABLE [dbo].[sucursal_cliente]  WITH CHECK ADD  CONSTRAINT [FK_sucursal_cliente_cliente1] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[sucursal_cliente] CHECK CONSTRAINT [FK_sucursal_cliente_cliente1]
GO
ALTER TABLE [dbo].[sucursal_cliente]  WITH CHECK ADD  CONSTRAINT [FK_sucursal_cliente_sucursal] FOREIGN KEY([id_sucursal])
REFERENCES [dbo].[sucursal] ([id_sucursal])
GO
ALTER TABLE [dbo].[sucursal_cliente] CHECK CONSTRAINT [FK_sucursal_cliente_sucursal]
GO
ALTER TABLE [dbo].[trabajadores]  WITH CHECK ADD  CONSTRAINT [FK_trabajadores_turno] FOREIGN KEY([turno])
REFERENCES [dbo].[turno] ([id_turno])
GO
ALTER TABLE [dbo].[trabajadores] CHECK CONSTRAINT [FK_trabajadores_turno]
GO
ALTER TABLE [dbo].[transacciones]  WITH CHECK ADD  CONSTRAINT [FK_transacciones_paquete] FOREIGN KEY([id_paquete])
REFERENCES [dbo].[paquete] ([id_paquete])
GO
ALTER TABLE [dbo].[transacciones] CHECK CONSTRAINT [FK_transacciones_paquete]
GO
USE [master]
GO
